.menuItem:hover{
    -fx-border-color: #660099;
    -fx-border-width: 0px 0px 3px 0px;
}

.slidebarItem:hover{
    -fx-background-color: #146886;
    -fx-border-color: White;
    -fx-border-width: 0px 0px 0px 3px;
}
